<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo App</title>
  </head>
  <body>

Todo App powered By &copy; Anas Shahwan

 <p> To See the React front end </p>
   <ol>

     <li>Open Your Terminal</li>
     <li>Cd /client</li>
     <li>npm start</li>
     <li>Enjoy With Todo App With React </li>
   </ol>

  </body>
</html>
